---
---
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500&subset=latin,latin-ext);

// override bootstrap variables
$font-family-sans-serif: "Ubuntu", sans-serif;

// import bootstrap
@import "bootstrap";

// custom things

$btn-inverse-color:  $btn-default-bg;
$btn-inverse-bg:     $btn-default-color;
$btn-inverse-border: darken($btn-inverse-bg, 5%);

.btn-inverse {
  @include button-variant($btn-inverse-color, $btn-inverse-bg, $btn-inverse-border);
}

// .well-mod {
//   background-color: #f0f0f0;
// }

// .col-centered{
//   float: none;
//   margin: 0 auto;
// }

// .droppable-active{
//   color: #ffffff !important;
//   text-decoration: underline;
// }

// .droppable-hover {
//   color: #080808 !important;
//   background-color: #fff !important;
// }