<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ site.baseurl }}{{ site.shortcut_icon }}">

    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="author" content="{{ site.author }}">

    <link rel="stylesheet" href="{{ site.baseurl }}{{ site.font_awesome_css }}">

    <title>{{ site.name }}</title>

    <!-- Open Sans -->
    <link href='{{ site.font_cdn }}' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ site.baseurl }}/css/custom.css" rel="stylesheet">  
    
    <!-- jQuery and jQuery UI -->    
    <script src="{{ site.jquery_cdn }}"></script>
    <script src="{{ site.jqueryui_cdn }}"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    
  </head>

  <body>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a id = "navbar-brand" class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name_smallcaps }}</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li id="nav_resume"><a href="{{ site.baseurl }}/resume">R&eacute;sum&eacute;</a></li>
              <li id="nav_programming"><a href="{{ site.baseurl }}/programming">Programming</a></li>
              <li id="nav_math"><a href="{{ site.baseurl }}/math">Math</a></li>
              <li id="nav_contact"><a href="{{ site.baseurl }}/contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

    {{ content }}

  </body>
</html>
