body {
  padding-top: 100px;
}
.starter-template {
  padding: 20px 15px;
  text-align: center;
}

.padded-body {
  padding: 20px 15px;   
}

.contact-info {
  display: inline-block;
  padding: 0px 20x;
}

.contact-link {
    background: no-repeat;
    height: 56px;
    width: 56px;
}

.well-mod {
    background-color: #f0f0f0;
}
